.main-portfolios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 50px;
  gap: 50px 75px;
}
.main-portfolio-title {
  font-size: 2rem;
}
.main-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 15px;
}
.portfolio-item {
  height: 200px;
  width: 300px;
  overflow: hidden;
  cursor: pointer;
}
.portfolio-img:hover {
  padding: 10px;
}

.portfolio-img {
  width: 100%;
  height: 100%;
}
.portfolio-img img {
  width: 100%;
}
.main-portfolio-btn {
  background-color: rgba(241, 173, 71, 0.897);
  padding: 10px 20px;
  border-radius: 10px;
  color: #000000;
  font-size: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-portfolios {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    padding: 10px;
  }
  .portfolio-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .portfolio-img img {
    width: 80%;
  }
  .portfolio-item {
    height: 100%;
    width: 80%;
    overflow: hidden;
    cursor: pointer;
  }
}
@media only screen and (min-width: 441px) and (max-width: 767px) {
  .main-portfolios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
  }
  .main-portfolio-title {
    font-size: 15px;
  }
  .main-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
  .portfolio-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .portfolio-img img {
    width: 85%;
  }
  .portfolio-item {
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }
}
@media screen and (max-width: 440px) {
  .main-portfolios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
  }
  .main-portfolio-title {
    font-size: 12px;
  }
  .main-portfolio {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .portfolio-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .portfolio-img img {
    width: 85%;
  }
  .portfolio-item {
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }
}
