/* About.css */
.main-about {
  display: block;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #ffff;
}
.main-about-h {
  display: flex;
  align-self: flex-start;
  padding: 15px;
}
.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 1%;
}
.main-about-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-main .horizontal-line {
  width: 80px;
  height: 2px;
  background-color: #ffd900;
  display: flex;
  margin-bottom: 4%;
}
@media only screen and (min-width: 1025px) and (max-width: 1509px) {
  .main-about {
    display: flex;
  }
  .main-about-h {
    margin-left: 10%;
  }
  .about-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }
  .horizontal-line {
    display: none !important;
  }
  .main-about-p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-about {
    display: flex;
  }
  .main-about-h {
    margin-left: 10%;
  }
  .about-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }
  .horizontal-line {
    display: none !important;
  }
  .main-about-p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .main-about {
    display: flex;
  }
  .main-about-h {
    margin-left: 10%;
  }
  .about-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }
  .horizontal-line {
    display: none !important;
  }
  .main-about-p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
