.main-testimonial {
  margin: 0;
  padding: 20px;
}

.main-testimonial-title {
  margin-bottom: 20px;
  text-align: center;
}

.main-testimonial-title h1 {
  color: #fff;
}

.main-testimonial-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-testimonial-text-p {
  flex: 1;
}

.main-testimonial-text-para {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-testimonial-para-trait {
  position: absolute;
  width: 50px;
  height: 2px;
  margin-right: 10px;
  left: 24%;
  top: 22%;
}

.main-testimonial-para-para {
  padding-left: 20px;
}

.main-testimonial-para-para p {
  color: #fff;
}

.main-testimonial-name-h2 {
  margin-left: 29%;
  margin-top: 20px;
}

.main-testimonial-name-h2 h2 {
  color: #fff;
}

.main-testimonial-name-h4 {
  display: flex;
  align-items: center;
  margin-left: 29%;
}

.main-testimonial-trait {
  width: 20px;
  height: 2px;
  margin-right: 10px;
}

.main-testimonial-parag h4 {
  color: #777;
}

.main-testimonial-img img {
  max-width: 80%;
  height: auto;
}

/* Media queries */

/* Pour les écrans de taille moyenne (tablettes en mode paysage) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-testimonial-text-p {
    flex-basis: 50%;
  }
  .main-testimonial-para-trait {
    display: none;
  }
  .main-testimonial-trait {
    display: none;
  }
}

/* Pour les écrans de petite taille (téléphones et tablettes en mode portrait) */
@media only screen and (max-width: 767px) {
  .main-testimonial-text {
    flex-direction: column;
    text-align: center;
  }

  .main-testimonial-text-p {
    margin-bottom: 20px;
  }
  .main-testimonial-para-trait {
    display: none;
  }
  .main-testimonial-trait {
    display: none;
  }
  .main-testimonial-name-h4 {
    margin-left: 48%;
  }
}
